<h2>Kontakt</h2>

<p>
  INCEPTA GmbH<br />
  Lothstraße 34<br />
  80335 München<br />
  Deutschland<br />
</p>

<p>
  Telefon: 089 1221 78987<br />
  Telefax: 089 1221 98789<br />
  E-Mail: info@incepta.com<br />
</p>

<p>
  Geschäftsführung: Max Mustermann (Vorsitzender), Martina Musterfrau<br />
  Sitz: München<br />
</p>
