<h2>Häufig gestellte Fragen</h2>

<h3>Wie komme ich an mein Passwort, wenn ich es vergessen habe?</h3>
<p>...</p>

<h3>Welche Voraussetzungen muss ich erfüllen, wenn ich ein Projekt anlegen möchte?</h3>
<p>...</p>

<h3>Wie tausche ich mich mit anderen Mitgliedern aus?</h3>
<p>...</p>