<h2>Datenschutzerklärung</h2>

<p>
  Das Unternehmen INCEPTA GmbH (nachfolgend jeweils INCEPTA) respektiert und schützt die Vertraulichkeit Ihrer Daten. Im nachfolgenden informieren wir Sie über die auf den Webseiten von INCEPTA angewandten Datenschutzmethoden, über die Art der auf diesen Webseiten erhobenen Daten, sowie darüber, wie diese Daten verwendet und an wen sie weitergegeben werden.
</p>

<p>
  Generell können Sie die Webseiten von INCEPTA ohne Angabe personenbezogener Daten besuchen. INCEPTA erhebt jedoch die von Ihrem Internet-Provider übermittelten Informationen, insbesondere Ihre IP-Adresse. Diese Informationen werden in anonymer Form zu statistischen Zwecken ausgewertet.
</p>
  INCEPTA erhebt außerdem standardmäßig und automatisch aufgrund Ihrer Besuche auf seinen Webseiten Informationen in anonymer Form, um sein Leistungsangebot für Sie noch weiter zu verbessern. INCEPTA speichert hierbei z.B. die Domänen, von denen aus Sie die Webseiten von INCEPTA besuchen, Ihre IP-Adresse sowie Ihre Bewegungen auf den Webseiten von INCEPTA. INCEPTA wertet diese Informationen aus, allerdings auf eine Art und Weise, die die Anonymität der Informationen unberührt lässt und sicherstellt. Diese anonymen Informationen werden nur als Gesamtheit analysiert und nur verwendet, um es INCEPTA zu ermöglichen, Trends und Muster zu erkennen und sein Webseiten-Angebot zu verbessern. Keine dieser Informationen wird personifiziert ausgewertet.
<p>
  INCEPTA ist berechtigt, diese anonymen Informationen durch Verwendung verschiedener Technologien, insbesondere Cookies, zu sammeln. Ein Cookie ist ein Datenelement, das die Webseite an Ihren Browser sendet, um es auf Ihrem Computersystem zu speichern. Sie können Ihren Browser so einstellen, dass er Sie benachrichtigt, wenn er ein Cookie empfängt. Somit können Sie selbst entscheiden, ob Sie das betreffende Cookie annehmen oder ablehnen möchten.
</p>

<p>
  Darüber hinaus erhebt INCEPTA über seine Webseiten nur solche personenbezogenen Daten, die von Ihnen ausdrücklich und freiwillig angegeben wurden. So kann es in einigen Fällen sein, dass INCEPTA Informationen von Ihnen benötigt, wie z.B. Name, e-Mail-Adresse, Telefon- oder Fax-Nummer, um Sie zu geschäftlichen Zwecken zu kontaktieren, wie zum Beispiel auf eine Bestellung zu reagieren, ein Abonnement zu zusenden, auf Ihre Fragen bezüglich Produkten, Dienstleistungen, Anmeldungen zu Veranstaltungen zu antworten oder entsprechend anderweitiger Beschreibungen auf der Webseite diese Daten zu nutzen. Es kann auch erforderlich sein, personenbezogene Daten an Dienstleister von INCEPTA zu geschäftlichen Zwecken weiterzugeben, damit diese Leistungen für INCEPTA erbringen können. Dies beinhaltet auch, aber nicht nur, die Beantwortung Ihrer Fragen zu Produkten oder Dienstleistungen sowie die Bearbeitung von Anmeldungen für Veranstaltungen und die Abwicklung von Bestellungen. Alle Dienstleister werden hierbei auf die anwendbaren Datenschutzbestimmungen durch INCEPTA verpflichtet.
</p>

<p>
  Wenn Sie Ihre personenbezogenen Daten angegeben haben, werden diese von INCEPTA (und gegebenenfalls seinen Dienstleistern) ausschließlich zu Zwecken der Geschäftsbeziehungen mit Ihnen oder sonstigen auf den Webseiten von INCEPTA oder sonstigen vereinbarten Zwecken verwendet werden. Die Dienstleister erhalten von INCEPTA lediglich solche Informationen, die für den jeweiligen Zweck der Leistungserbringung des Dienstleisters benötigt werden. Die Verwendung der Daten für andere Zwecke als die vorgenannten ist untersagt oder nur mit Ihrer Einwilligung zulässig.
</p>

<p>
  INCEPTA verkauft Ihre personenbezogenen Daten, die wir von Ihnen erhalten und gespeichert haben, nicht.
</p>
