<h2>Allgemeine Geschäftsbedingungen</h2>

<p>
  Produkte und Dienstleistungen von INCEPTA unterliegen bei ihrer Auslieferung an Kunden den allgemeinen Geschäftsbedingungen des Unternehmens. Darüber hinaus gibt es Regelungen für einige spezielle Produkte, Kunden oder Rahmenbedingungen.
</p>