<% projects.each_with_index do |project, index| %>
  <a href="<%= url_for(project) %>">
	<div class="panel panel-default">
	  <div class="panel-heading"><%= project.name %></div>
		<div class="panel-body">
		  <div class="row">
			<div class="col-xs-2">
			  <%= image_tag(project.avatar.url(:medium), class: "img-responsive") %>
			</div>
			<div class="col-xs-6">
			  <p><%= project.short_description %></p>
			  <br>
			  <div class="row text-center">
				<div class="col-xs-4">
				  <strong><%= project.followers.count %></strong><br>
				  <%= "follower".pluralize(project.followers.count) %>
				</div>
				<div class="col-xs-4">
				  <strong><%= project.calls %></strong><br>
				  <%= "view".pluralize(project.calls) %>
				</div>
				<div class="col-xs-4">
				  <strong><%= project.created_at.strftime("%d.%m.%Y") %></strong><br>
	  			  gestartet
				</div>
			  </div>						
			</div>
			<div class="col-xs-4">
			  Derzeit suchen wir:<br /><br />
			  <% project.searchcategories.each do |s| %> 
				<div class="searchcategory homesearchcategory">
				  <p><%= s.name %></p>
				</div>
			  <% end %>
			</div>
		  </div>
		</div>
	  </div>
	</a>
  <% end %>
<!--

<table class="table table-hover">
	<tr>
	    <th></th>
	    <th>Projektdetails</th>
	    <th>Anzahl der Aufrufe</th>
	</tr>
	<% projects.each_with_index do |project, index| %>	
	<tr onmouseover="this.style.cursor='pointer';"onclick="location.href='<%= url_for(project) %>';"
	style="cursor: pointer;">
	
	  	<td><%= image_tag(project.avatar.url(:thumb)) %></td>
	  	<td>
	  		Rang: <%= index+1 %><br />
	  		Name: <%= project.name %><br />
	  		Kurzbeschreibung:<br />
	  		<%= project.short_description %><br>
		</td>
	  	<td><%= project.calls %></td>
	  </tr>
	  <% break if index+1 == @projectcount %>	
	<% end %>
</table>
-->