<% if user_signed_in? %>
	<%= render 'projects/projectsheader' %>
<% else %>
	<div class="jumbotron" style="text-align:center">
		<h1>Willkommen bei INCEPTA!</h1>
		<p>Sie möchten sich am Hochschulleben in aktuellen Projekten einbringen?</p>
		<p>Sie würden gerne wissen, was bei anderen Fakultäten angeboten wird? Oder wollen einfach nur mal über den Tellerrand hinausblicken?</p>
		<p>Eine Projektidee steht im Raum, jedoch wissen Sie nicht, wie diese umgesetzt werden kann?</p>
		<p>Die Verbindung von Theorie und Praxis kommt in Ihrem Studiengang zu kurz?</p>
		<p>Dann sind Sie hier genau richtig <br />
		<br />
			<%= link_to 'kostenlos registrieren!', main_app.new_user_registration_path, class: 'btn btn-primary btn-lg' %></p>
	</div>
<% end %>


<%if @topProjects != nil%>
<div id='topprojects'>
	<div class="filter-header">
		<h2 class="project-heading">Die <%= @projectcount%> beliebtesten Projekte</h2>
	</div>	
	<%= render 'table',:projects => @topProjects %>
</div>
<%end%>
<%if @uptodateProjects != nil%>
<div id='uptodateprojects'>
	<div class="filter-header">
		<h2 class="project-heading">Die <%= @projectcount%> neuesten Projekte</h2>
	</div>
	<%= render 'table',:projects => @uptodateProjects %>
</div>
<%end%>
