<%= form_for(resource, as: resource_name, url: registration_path(resource_name), 
		html: { method: :put, class: 'form-horizontal' }) do |f| %>
  <%= devise_error_messages! %>

<div class="form-container">
  <!-- Heading -->
  <div class="edit-user__header">
	<h2 class="user-heading">Dein Profil</h2>
  </div>
    <div class="user-profile">	
	  <!-- Profile Photo -->	  
	  <div class="user-profilephoto">
	  	<div class="user-profilephoto__current">
	  	  <div class="input-group">
	  	    <%= image_tag(current_user.avatar.url(:thumb)) %>
	      </div>
	    </div>
	    <div class="user-profilephoto__new">  
	      <div class="input-group">
	      	<div class="user-label">
	  	      <%= label_tag '', 'Neues Profilfoto hochladen', class: '' %>
	  	    </div>
	  	    <%= f.file_field :avatar %>  	
	      </div>
	    </div>
	  </div>
	  
	  <!-- Profile Information -->
	  <div class="user-profileinformation">
	    <div class="form-group">
	      <div class="user-label">	
	        <%= label_tag '', 'Username', class: 'col-sm-5 control-label' %>
	      </div>
	      <div class="col-sm-7">
	        <%= f.text_field :username, class: 'form-control', autofocus: true %>
	      </div>
	    </div>
	    <div class="form-group">
	      <div class="user-label">	
	        <%= label_tag '', 'Vorname', class: 'col-sm-5 control-label' %>
	      </div>
	      <div class="col-sm-7">        
	        <%= f.text_field :firstname, class: 'form-control' %>
	      </div>
	    </div>
	    <div class="form-group">
	      <div class="user-label">
	        <%= label_tag '', 'Nachname', class: 'col-sm-5 control-label' %>
	      </div>
	      <div class="col-sm-7">
	        <%= f.text_field :surname, class: 'form-control' %>
	      </div>
	    </div>
	    <div class="form-group">
	      <div class="user-label">
	  	    <%= label_tag '', 'Fakultät', class: 'col-sm-5 control-label' %>
	  	  </div>
	  	  <div class="col-sm-7">
	  	    <%= f.select :faculty_id, Faculty.all.collect {|faculty| [faculty.id]} %>
	  	  </div>
	    </div>
	    <div class="form-group">
	      <div class="user-label">
	        <%= label_tag '', 'E-Mail-Adresse', class: 'col-sm-5 control-label' %>
	      </div>
	      <div class="col-sm-7">
	        <%= f.email_field :email, class: 'form-control' %>
	      </div>
	    </div>
	    <div class="form-group">
	      <div class="user-label">
	        <%= label_tag '', 'Neues Passwort', class: 'col-sm-5 control-label' %>
	      </div>
	      <div class="col-sm-7">
	        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
	      </div>
	    </div>
	    <div class="form-group">
	      <div class="user-label">
	        <%= label_tag '', 'Wiederholen', class: 'col-sm-5 control-label' %>
	      </div>
	      <div class="col-sm-7">
	        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
	      </div>
	    </div>	    
	    <div class="input-group">
	      <div class="user-label">
	        <%= label_tag '', 'Über mich', class: '' %>
	      </div>
	      <%= f.text_area :about, class: 'form-control', rows: '3' %>
	    </div>
	    <div class="input-group">
	      <div class="user-label">	
	        <%= label_tag '', 'Ich suche', class: '' %>
	      </div>
	      <%= f.text_area :search, class: 'form-control', rows: '3' %>
	    </div>
	    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
	      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
	    <% end %>	    
	    <div class="form-group">
	      <div class="user-label">
	        <%= label_tag '', 'Passwort', class: 'col-sm-5 control-label' %>
	      </div>
	      <div class="col-sm-7">
	        <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
	        <i>(Ihr aktuelles Passwort für die Übernahme ihrer Änderungen)</i>
	      </div>
	      
	    </div>
	  </div>
  </div>
  
  <!-- Profile Buttons -->
  <div class="user-profilebutton">
    <%= f.submit "Änderungen übernehmen", :class => "btn button button--submit", :style =>"margin-bottom: 1em"%>
  </div>
</div>
<% end %>

<form>
  <input type="button" value="Zurück" class="btn button button--submit" 
  		style="float:left" onclick="history.go(-1); return true; ">
</form>

<%= button_to "Account löschen", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "btn button button--submit", :style => "float: right" %>  
