<div class="row omb_row-sm-offset-3">
	<div class="col-xs-12 col-sm-6">

<h2>Registrierung</h2>
<div class="omb_login">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

 <div class="input-group">
  	<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>    
    <%= f.text_field :username,:placeholder => "Benutzername", :class => "form-control", autofocus: true %>
  </div>


 <div class="input-group">
  	<span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>  
    <%= f.email_field :email,:placeholder => "E-Mailadresse", :class => "form-control" %>
  </div>


  <div class="input-group">
  	<span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>  
    <!--<%= f.label :password %>-->
    <% if @validatable %>
    <em>(Mindestens <%= @minimum_password_length %> Zeichen eingeben!)</em>
    <% end %>
    <%= f.password_field :password, :placeholder => "Passwort", 
    :class => "form-control", autocomplete: "off"%>
  </div>

  <div class="input-group">
  	<span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>     
    <%= f.password_field :password_confirmation, :placeholder => "Passwort wiederholen", 
    :class => "form-control", autocomplete: "off"%>    
  </div>
	<%= f.submit 'Absenden', :class => "btn btn-lg btn-primary btn-block" %> 
<% end %>

<!--<%= render "devise/shared/links" %>-->
</div>
</div>
</div>
