
<div class="form-container">
  <div class="edit-user__header">  
    <h2 class="user-heading">Profilansicht von <%=@profilfrom%> </h2>  
  </div>

  <div class="user-profile"> 
    <div class="user-profilephoto">
  	  <%= image_tag(current_user.avatar.url(:thumb)) %>
    </div>
    <div class="user-information-contact__user">
      <p>
      	<%= @profilfrom  %>
	    <% if @profilfrom !=  current_user.username %>
	       (<%= current_user.username %>)
	     <%end%>	    
      </p>
      <p>
	  	<% if current_user.faculty_id == nil %>
	  	  Keine Angabe zur Fakultät
	    <% else %>
	  	  Fakultät <%= current_user.faculty_id %>, <%= Faculty.find(current_user.faculty_id).name %>
	  	<% end %>
	  </p>
	  <p>
	    <% if current_user.email == nil %>
	      Keine Angabe zur E-Mail-Adresse
	    <% else %>
	      <%= current_user.email %>
	    <% end %>
	  </p>
	  <p>
	    <%= label_tag '', 'Über mich:', class: '' %><br />
	    <% if current_user.about == nil || current_user.about == "" %>
	      Keine Angabe von Informationen über meine Person
	    <% else %>
	      <%= current_user.about %>
	    <% end %>
	  </p>
	  <p>
	  	<%= label_tag '', 'Ich suche:', class: '' %><br />
	    <% if current_user.search == nil || current_user.about == "" %>
	      Keine Angaben
	    <% else %>
	      <%= current_user.search %>
	    <% end %>
	  </p>
    </div>
    <div class="user-information-contact__edit">
      <%= button_to "Profil bearbeiten", main_app.edit_user_registration_path, 
      	:method => :get, :class => "btn button button--submit",:style =>"margin-bottom:1em" %>
    </div>
  </div>
</div>
  
<div class="user-information-projects">
  <div class="filter-header">
    <h2 class="project-heading">Projekte, in denen ich Mitglied bin...</h2>
  </div>
  <div class="">
    <%= render 'table', :projects => @ProjectMember %>
  </div>
</div>
  
<div class="user-information-projects">
  <div class="filter-header">	
    <h2 class="project-heading">Projekte, denen ich folge...</h2>
  </div>
  <div class="">
    <%= render 'table', :projects => @ProjectFollower %>
  </div>
</div>  
