<div class="row omb_row-sm-offset-3">
	<div class="col-xs-12 col-sm-6">

<h2>Passwort vergessen?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>



 <div class="input-group">
  	<span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>  
    <%= f.email_field :email,:placeholder => "E-Mailadresse", :class => "form-control" , autofocus: true %>
  </div>
 

  <div style="text-align: center" >
    <%= f.submit 'Passwort anfordern', :class => "btn btn-lg btn-primary " %> 
  </div>
<% end %>


</div>
</div>
<!--<%= render "devise/shared/links" %>-->