<%= form_for([@attachment.project,@attachment]) do |f| %>
  <% if @attachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attachment.errors.count, "error") %> prohibited this attachment from being saved:</h2>

      <ul>
      <% @attachment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
  <%= f.label :File %><br />
  <%= f.file_field :file %>
  <br />
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
