<h1>Listing attachments</h1>



<table>
  <tr>
    <th><div class="col-md-8">File Name</p></div></th>
	
  </tr>

<% @attachments.each do |attachment| %>

  <tr>
	<td>
		<div class="col-md-8">
			<div class="attachment">
				<%= link_to attachment.file_file_name, attachment.file.url if attachment.file? %></p>
			</div>
		</div>
	</td>
	<% if user_signed_in? %>
	<td><div class="col-md-8"><%= link_to 'Delete',[attachment.project, attachment], method: :delete, data: { confirm: 'Are you sure?' } %></p></div></td>
	<% end %>
  </tr>


<% end %>
</table>

<br />

<% if user_signed_in? %>
	<div class="col-md-8">
		<div class="new-attachment">
			<%= link_to 'New Attachment', new_project_attachment_path %></p>
		</div>
	</div>
			
<% end %>
