<div class="container-fluid">
  <div class="row project-header">
    <div class="col-md-6">
		<!--<%= link_to 'Projekte', projects_path, :class => "project-header__link" %>-->
		<h2 class="project-heading"><%= @project.name %></h2>
	</div>
	<div class="col-md-6">
	<%if user_signed_in?%>
		<%if @project.users.find_by_id(current_user.id) == current_user || development%>
		<div class="project-header__option">
			<%= link_to 'Datei',project_attachments_path(@project), :class => "project-header__link" %>
		</div>
		<%end%>
	<%end%>
		<div class="project-header__option">
			<%= link_to 'Übersicht', project_path(@project), :class => "project-header__link" %>
		</div>
		<!--development is set in helpers/application_helper.rb -->
		<%if user_signed_in?%>
		  	<%if @project.users.find_by_id(current_user.id) == current_user || development%>
				<div class="project-header__option">
					<%= link_to 'Projekt bearbeiten', edit_project_path(@project), :class => "project-header__link" %>
				</div>
	
				<div class="project-header__option">
					<%= link_to 'Projektforum', forum_dummy_path(:id => @project), :class => "project-header__link" %>
				</div>
				
			<%end%>
		<%end%>
	</div>
	
  </div>
</div>