<%if user_signed_in?%>

<%= form_for(@project, :html => { :multipart => true }) do |f| %>

  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-container">
	<div class="edit-project__header">
		<h2 class="project-heading">Dein Projekt</h2>
	</div>
	<div class="edit-project__content">
			
		  <div class="field">
		    <p class="project-label"><%= f.label :name, 'Der Name' %></p><br/>
		    <%= f.text_field :name, :class =>"textfield" %>
		  </div>
		  
		  <div class="field">
		    <p class="project-label"><%= f.label :avatar, 'Das Projektbild' %></p><br/>
		    <%= f.file_field :avatar, :id => "filefield" %>
		  </div>
		  
		  <div class="field">
		    <p class="project-label"><%= f.label :faculty_id, 'Die Fakultaet' %></p><br/>
		    <%= f.select(:faculty_id, Faculty.all.collect {|faculty| [faculty.id]})%>
		  </div>
		  
		  <div class="field">
		    <p class="project-label"><%= f.label :short_description, 'Die Kurzbeschreibung (max 200 Zeichen)' %></p><br/>
		    <%= f.text_area :short_description, :onkeyup => "CheckMaxlength(this);", :maxlength => 200, :class => "textarea" %>
		  </div>
		  
		  <div class="field">
		    <p class="project-label"><%= f.label :long_description , 'Die lange Beschreibung' %></p><br/>
		    <%= f.text_area :long_description , :class => "textarea--long" %>
		  </div>
		  
		  <div class="field">
		  	<p class="project-label"><%= f.label 'Event hinzufügen' %></p><br/>
		    <button class="btn button" onclick="alert('Funktion im Prototyp nicht vorhanden!')">Event hinzufügen</button>

		  </div>
		  
		  <% unless @project.events.empty? %>
		  <div class="field">
		    <p class="project-label"><%= f.label 'Event löschen' %></p><br/>
			<% @project.events.each do |e| %> 
				<%= check_box_tag 'deleteevent[]', e.id -%>
				<%= e.name %>
				</br>
			<% end %>
		  </div>
		  <% end %>
		  
		  <div class="field">
		  	<p class="project-label"><%= f.label 'Meilenstein hinzufügen' %></p><br/>
		    <button class="btn button" onclick="alert('Funktion im Prototyp nicht vorhanden!')">Meilenstein hinzufügen </button>

		  </div>
		  
		  <% unless @project.milestones.empty? %>
		  <div class="field">
		    <p class="project-label"><%= f.label 'Meilenstein löschen' %></p><br/>
			<% @project.milestones.each do |m| %> 
				<%= check_box_tag 'deletemilestone[]', m.id -%>
				<%= m.name %>
				</br>
			<% end %>
		  </div>
		  <% end %>
		  
		  <div class="field">
		  	<p class="project-label"><%= f.label 'Sponsor hinzufügen' %></p><br/>
			<%= select_tag("sponsor[]", options_for_select((Company.all.map{|u| [ u.name, u.id ] } ) , params[:sponsors_id]),  :multiple => true, :size => 5  ) %> 
			</br>	  	
		  </div>
		  
		  <% unless @project.companies.empty? %>
		  <div class="field">
		  	<p class="project-label"><%= f.label 'Sponsor löschen' %></p><br/>
			<% @project.companies.each do |u| %> 
				<%= check_box_tag 'deletesponsor[]', u.id -%>
				<%= u.name %>
				<br/>
			<% end %>
		  </div>
		  <% end %>
		  	  		
		<div class="field">
			<p class="project-label"><%= f.label 'Teammitglied hinzufuegen' %></p><br/>
			<%= select_tag("teammember[]", options_for_select((User.all.map{|u| [ u.username, u.id ] } ), params[:users_id]),  :multiple => true, :size => 5  ) %> 		
		</div>
		
		<% unless @project.users.empty? %>
		<div class="field">
			<p class="project-label"><%= f.label 'Teammitglied löschen' %></p><br/>
			<% @project.users.each do |u| %> 
				<%= check_box_tag 'deleteteammember[]', u.id -%>
				<%= u.username %>
				<br/>
			<% end %>  
		</div>
		<% end %>
		
	</div>
  </div>  



  <div class="actions">
    <%= f.submit 'Projekt speichern', :class => "btn button button--submit" %>
  </div>
<% end %>

<%else%>
<p>Bitte zuerst anmelden!</p>
<%end%>

  <% if @project.users.first == current_user || development%>
	<%= button_to 'Löschen', @project, method: :delete, data: { confirm: 'Sind Sie sicher?' }, :class => "btn button button--submit", :style => "float:left"%>
<%end%>

