<% faculties = Faculty.all%>
<div class="newproject-filter-container">
	<div class="filter">
		<form action="/projects" method="get">		
    	<%= select_tag "faculty",  options_for_select([["Fakultät wählen", "0"]] +[["Alle Projekte" , "0"]] + faculties.collect{ |u| ["FK " + u.id.to_s + " - " + u.name, u.id] }, 
    	params[:faculty]),  
    	
    	class: 'form-control',    	
    	:onchange => "this.form.submit();" %>    	
	</form>	
	</div>
	<div class="newproject">
		<% if user_signed_in? %>
		  <%= button_to "Neues Projekt erstellen", new_project_path, :class => "btn button button--newproject", :method => :get %>
		<% end %>		
	</div>	
</div>

<!--<% faculties = Faculty.all%>
  	<div id="facultyselection">
  		Hier eine Fakul&aumlt ausw&aumlhlen:
  	<form action="/projects" method="get">		
    	<%= select_tag "faculty",  options_for_select([["Alle Projekte" , "0"]] + faculties.collect{ |u| ["FK " + u.id.to_s + " - " + u.name, u.id] }, 
    	params[:faculty]),  
    	:include_blank => true,
    	class: 'form-control',    	
    	:onchange => "this.form.submit();" %>    	
	</form>	
  	</div>
  	
  	<a class="btn btn-default"  href="../../projects/faculty/0" role="button">Alle Projekte</a>
  	
  	<% faculties.each do |faculty| %>	
		<a class="btn btn-default"  href="../../projects/faculty/<%= faculty.id %>" role="button"><%= faculty.id %> <%=faculty.name %></a>
	<%end%> -->
	
	<!--<div id="search">
		
		<% if params[:faculty] == nil %>
			<% faculty = 0 %>
		<% else %>
			<% faculty = params[:faculty] %>
		<% end %>
		
		<form action="/projects/faculty/<%= faculty %>" method="get">
			<%= text_field_tag :search, params[:search] %>
	    	<%= submit_tag "Suche", :name => nil %>
	    </form>
	</div>-->
