<%if user_signed_in?%>

<% faculties = Faculty.all%>
<%=render 'projectsheader'%>

<div class="filter-header">
	<h2 class="project-heading"><%=@headingText%></h2>
</div>

<%if @projects.count == 0%>
	<%if params[:search] != nil%>
		<h3>Ihre Suche ergab leider keine Treffer.</h3>
	<%else%>
		<h3>Derzeit ist kein Projekt in dieser Kategorie vorhanden.</h3>
	<%end%>	
<%else%>
<div class="sortby">
	<form action="/projects/faculty/<%=params[:faculty]%> " method="get">
    	<%= select_tag "sort", options_for_select(["Sortieren nach", "Name", "Aufrufe", "Follower", "Erstellungsdatum"], params[:sort]),    
    	#class: 'form-control',
    	:onchange => "this.form.submit();" %>    	
	</form>	
</div>
<%end%>


<% @projects.each do |project| %>
    <a href="<%= url_for(project) %>">
	  <div class="panel panel-default">
		<div class="panel-heading">
		  <%= project.name %>
		</div>
		<div class="panel-body">
		  <div class="row">
		    <div class="col-xs-2">
			  <%= image_tag(project.avatar.url(:medium), class: "img-responsive") %>
			</div>
			<div class="col-xs-6">
			  <p><%= project.short_description %></p>
			  <br />
			  <div class="row text-center">
			    <div class="col-xs-4">
			      <strong><%= project.followers.count %></strong>
				  <br />
				  <%= "follower".pluralize(project.followers.count) %>
				</div>
				<div class="col-xs-4">
				  <strong><%= project.calls %></strong><br>
				  <%= "view".pluralize(project.followers.count) %>
				</div>
				<div class="col-xs-4">
				  <strong><%= project.created_at.strftime("%d.%m.%Y") %></strong>
				  <br>
				  gestartet
				</div>
		      </div>
		    </div>
			<div class="col-xs-4">
			  Derzeit suchen wir:<br /><br />
			  <% project.searchcategories.each do |s| %> 
				<div class="searchcategory homesearchcategory">
				  <p><%= s.name %></p>
				</div>
			  <% end %>
			</div>						
	      </div>
		</div>
	  </div>
	</a>
<% end %>

<%else%>
<p>Bitte zuerst anmelden!</p>
<%end%>
<FORM><INPUT Type="button" VALUE="Zurück" onClick="history.go(-1);return true;"></FORM>
