<%=render "detailsheader"%>


<div class="project-content">
	<% if !@project.avatar_file_name.nil? %>
	<div class="project-img-container">
		<%= image_tag @project.avatar.url(:rect), :class => "img--project" %>
	</div>
	<% else %>
	<div class="project-img-container--no-image"></div>
	<%end%>
	<div class ="social-container">
	<div class="row">
	<div class="col-md-6">
		<strong><%= @project.followers.count %></strong> <%= "Follower".pluralize(@project.followers.count) %>
		<% if @project.followers.include?(current_user) %>
			<%= form_tag(unfollow_project_path, method: "delete") do %>
				<button type="submit" class="btn btn-danger"<%if !user_signed_in?%>disabled="disabled"<%end%>>Nicht mehr folgen</button>
			<% end %>
		<% else %> 
			<%= form_tag(follow_project_path, method: "post") do %>
				<button type="submit" class="btn btn-success"<%if !user_signed_in?%>disabled="disabled"<%end%> >Folgen</button>
			<% end %>
		<% end %>
	</div>
	
	<div class="col-md-6, project-social">
	<h5>Teile dieses Projekt</h5>
	<a href="http://www.facebook.de"><i id="social" class="fa fa-facebook-square fa-3x social-fb"></i></a>
    <a href="http://www.twitter.de"><i id="social" class="fa fa-twitter-square fa-3x social-tw"></i></a>
    <a href="https://plus.google.com/"><i id="social" class="fa fa-google-plus-square fa-3x social-gp"></i></a>
</div>
</div>

</div>	
	<div class="project-information">
		<% if @project.events.exists? %>
		<div class="project-information__documents">
			<div class="project-information__documentlist">
				<% @project.events.each do |u| %> 
					<div class="project-information__teamlist__teammember">
						<div class="teammember-information">
							<p><%= u.name %></p>
						</div>
					</div>
				<% end %>
			</div>
		</div>
		<% end %>
		
		<div class="project-information__main">
			<% if @project.long_description.blank? %>
				<p class="project-description"><%= @project.short_description %></p>
			
			<% else %>
				<p class="project-description"><%= @project.long_description %></p>
			<% end %>
			<% if @project.companies.exists? %>
			<p class="subheader">Die Sponsoren</p>
			<div class="sponsor-container">
				<% @project.companies.each do |u| %> 
					<div class="sponsor">
						<p><%= u.name %></p>
					</div>
				<% end %>
			</div>
			<% end %>
			<% if @project.searchcategories.exists? %>
			<p class="subheader">Wir suchen</p>
			<div class="searchcategory-container">
				<% @project.searchcategories.each do |s| %> 
					<div class="searchcategory detailsearchcategory">
						<p><%= s.name %></p>
					</div>
				<% end %>
			</div>
			<% end %>
			<% if @project.milestones.exists? %>
			<p class="subheader">Die Meilensteine</p>
			<div class="milestone-container">
				<% @project.milestones.each do |m| %> 
					<div class="milestone">
						<div class="milestone__square-container">
							<div class="milestone__square"></div>
						</div>	
						<div class="milestone__information">
							<p><strong><%= m.name %> vom <%= m.date.strftime("%d.%m.%Y") %></strong></p>
							<p><%= m.description %></p>
						</div>
					</div>
				<% end %>
			</div>
			<% end %>
		</div>
		<% if @project.users.exists? %>
		<div class="project-information__team">
			<div class="project-information__teamlist">
				<% @project.users.each do |u| %> 
					<div class="project-information__teamlist__teammember">
						<%= image_tag u.avatar.url(:thumb), :class => "img--teammember" %>
						<div class="teammember-information">
							<p><%= u.firstname %></p>
							<p><%= u.surname %></p>
							<p><%= u.username %></p>
							<p><%= u.email %></p>	
							<% if u.id == @project.users.first.id %>
							<p> Projektverantwortlicher </p>
							<% end %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
		<% end %>
	</div>
</div>

<br/>
<% if false %>

  <b>Faculty:</b>
  <%= @project.faculty_id %> <%= Faculty.find_by_id(@project.faculty_id).name %>


<!-- Diese Abfrage kann entfernt werden sobald die Beispiel
	Projekte alle einen Ersteller/Mitglied haben!!!-->
<%if @project.users.count > 0 %>
<p>	<b> Projektverantwortlicher: </b>
	<%= @project.users.first.username%>
</p>
<%end%>



<p><b> Meilensteine: </b><br />

<!--<% @project.milestones.each do |m| %> 
	Meilenstein <%= m.id %> - <%= m.name %> vom <%= m.date %><br />
	Beschreibung:<br />
	<%= m.description %>
	<br />
	<br />
<% end %>-->

<FORM><INPUT Type="button" VALUE="Zurück" onClick="history.go(-1);return true;"></FORM>
	<% end %>
</div>
