  
    <div class="omb_login">
  		<%if params[:login] != nil%>
   			<p>Login mit <%= params[:login]%> - <b>Funktion in Prototyp nicht vorhanden!</b> Bitte normal einloggen.</p>  
   		<%end%>
   
    	<h3 class="omb_authTitle">Login oder <%= link_to "Registrieren", new_registration_path(resource_name) %><br /></h3>
		<div class="row omb_row-sm-offset-3 omb_socialButtons">
    	    <div class="col-xs-4 col-sm-2">
		        <a href="?login=Facebook" class="btn btn-lg btn-block omb_btn-facebook">
			        <i class="fa fa-facebook visible-xs"></i>
			        <span class="hidden-xs">Facebook</span>
		        </a>
	        </div>
        	<div class="col-xs-4 col-sm-2">
		        <a href="?login=Twitter" class="btn btn-lg btn-block omb_btn-twitter">
			        <i class="fa fa-twitter visible-xs"></i>
			        <span class="hidden-xs">Twitter</span>
		        </a>
	        </div>	
        	<div class="col-xs-4 col-sm-2">
		        <a href="?login=GooglePlus" class="btn btn-lg btn-block omb_btn-google">
			        <i class="fa fa-google-plus visible-xs"></i>
			        <span class="hidden-xs">Google+</span>
		        </a>
	        </div>	
		</div>

		<div class="row omb_row-sm-offset-3 omb_loginOr">
			<div class="col-xs-12 col-sm-6">
				<hr class="omb_hrOr">
				<span class="omb_spanOr">oder</span>
			</div>
		</div>
		
		<div class="row omb_row-sm-offset-3">
			<div class="col-xs-12 col-sm-6">	
				
				<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
			  <div class="input-group">
			  	<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
			    
			    <%= f.text_field :login,:placeholder => "Benutzername oder Email", :class => "form-control", autofocus: true %>
			  </div>
			  
			  <div class="input-group">
			  	<span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>  
			    <%= f.password_field :password, :placeholder => "Passwort", :class => "form-control", autocomplete: "off" %>
			  </div>
			  
			  <%= f.submit 'Log in', :class => "btn btn-lg btn-primary btn-block" %>
			</div>
    	</div>
    	
		<div class="row omb_row-sm-offset-3">
			<div class="col-xs-12 col-sm-3">
				
				<% if devise_mapping.rememberable? -%>
			    <div class="field">
			      <%= f.check_box :remember_me %>
			      <b>Angemeldet bleiben</b> 
			    </div>
			  <% end -%>
			</div>
			
			
			<div class="col-xs-12 col-sm-3">
				<p class="omb_forgotPwd">
					<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
					  <%= link_to "Passwort vergessen?", new_password_path(resource_name) %><br />
					<% end -%>
				</p>
			</div>
		</div>	    	
	</div>

</div>      
<%end%>  

