// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap/variables";

$grid-gutter-width: 25px;

$headings-font-weight: 600;

$navbar-default-link-color: $link-color;
$navbar-default-link-hover-color: $link-hover-color;

$navbar-inverse-bg: #152661; //#ad0c2d;
$navbar-inverse-color: lighten($navbar-inverse-bg, 50%);
$navbar-inverse-border: darken($navbar-inverse-bg, 5%);
$navbar-inverse-brand-color: #fff;
$navbar-inverse-link-color: #eee;
$navbar-inverse-link-active-color: #fff;
$navbar-inverse-link-active-bg: lighten($navbar-inverse-bg, 5%);
$navbar-inverse-link-hover-bg: $navbar-inverse-link-active-bg;

$border-radius-base: 2px;
$border-radius-large: 2px;
$border-radius-small: 1px;

@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";


