/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require _custom
 *= require_self
 *= require_tree .
 */

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 85%;
  /* equal to footer height */
  margin-bottom: -80px; 
}
.page-wrap:after {
  content: "";
  display: block;
}

.container-fluid {
  max-width: 1200px;
}

h1, h2 {
  font-weight: normal;
}

/**********************/
/* Top navigation bar */
/**********************/
#topnav .navbar-form {
  border: none;
  box-shadow: none;  
}

.header-position{
	position: fixed;
	width: 100%;	
}

.breadcrumb{
	padding-top: 4.5em;
}

#topnav #search {
  margin-top: 1px;  
}

#topnav #search input, #search .btn {
  border: none;
  box-shadow: none;
}

/*Projectbook link*/
.project-link{
	font-size: 200%;
	font-weight:bold;	
}

/**********/
/* Footer */
/**********/
#footer, .page-wrap:after {
  margin-bottom: 0;
  padding-top: 20px;
  margin-top: 20px;
  border-radius: 0;
  height: 80px; 
}


#footer .nav > li {
  display: inline-block;
}

#footer .nav > li a:hover {
  background: none;
}

.logo {
  float: left;
}