// Place all the styles related to the Attachments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.new-attachment{
  font-size: 1.5em;
  
  &:link { 
  color: #333333;
   }
  &:hover { 
    color: #CCCCCC;
  }
  &:active { 
    color: #333333;
  }
}

.attachment{
  
  &:link { 
  color: #333333;
   }
  &:hover { 
    color: #CCCCCC;
  }
  &:visited { 
    color: #FFFFFF;
  }
  &:active { 
    color: #333333;
  }
}