// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';


.newproject-filter-container{
  width:100%;
  height: auto; 
  text-align:right;
  margin-bottom: 2em;
  overflow:hidden;
  margin-top: 2em;
}

.newproject{
  width: 50%;
  float:left;
  height:auto;
  text-align:right;
}

.filter {
  width: 50%;
  float:left;
  height:auto;
}

.filter-header{
  width:100%;
  height:auto;
  background-color: $middle-grey;
  padding: 1em 2em;
  margin-bottom: 2em;
}

.sortby {
  text-align:right;
  width:100%;
  height: auto; 
  margin-bottom: 2em;
}

.project-header{
  height: auto;
  background-color: $middle_grey;
  padding:1em;
}

.project-header__option{
  width:25%;
  float:right;
  margin-top:6em;
  text-align:center;
}

.project-header__link {
  font-size: 1.5em;
  
  &:link { 
  color: #333333;
   }
  &:visited { 
    color: #FFFFFF;
  }
  &:hover { 
    color: #CCCCCC;
  }
  &:active { 
    color: #333333;
  }
}

.project-header__link--options {
  text-align:center;
}

.project-content {
  height:auto;
  width:100%;
  margin-top: 0px;
  padding-top: 0px;
}

.project-img-container {
  height: 30em;
  width:100%;
  overflow:hidden;
}

.project-img-container--no-image {
  border-top: 2px solid $dark-grey
}

.img--project {
  height:auto;
  width:100%;
}

.social-container {
  border: 2px solid $dark_grey;
  padding:2em;
}

.project-social {
  float: right;
}

.project-information {
  width:auto;
}

.project-information__documents {
  height:100%;
  width:20%;
  float:left;
}

.project-information__documentlist {
  margin-left: 10%;
  margin-right:10%;
  padding:1em;
  padding-top:2.5em;
  border: 2px solid $light_grey;
}

.project-information__main {
  height:auto;
  width:55%;
  padding:1em;
  padding-top:3em;
  float:left;
}

.project-information__team {
  float:right;
  height:auto;
  width:25%;
}

.project-information__teamlist {
  margin-left: 10%;
  margin-right:10%;
  padding:1.5em;
  padding-top:2.5em;
  background-color: $light_grey;
}

.project-information__teamlist__teammember {
  border: 2px solid white;
  margin-bottom:1em;
  background-color:white;
  overflow:hidden;
}

.img--teammember {
  width: 100%;
  height: auto;
}

.teammember-information {
  width:100%;
  height:auto;
  padding:1em;
}

.project-description {
  text-align:justify;
  margin-bottom: 3em;
}

.sponsor-container {
  border: 2px solid $dark_grey;
  padding:1em;
  margin-bottom: 3em;
}

.sponsor {
}

.searchcategory-container {
  width:100%;
  height:auto;
  overflow:hidden;
  margin-bottom: 2em;
}

.detailsearchcategory{
  width:60%; 
}

.homesearchcategory {
  width:100%; 
}

.searchcategory {
  float:left;
  background-color:$light_grey;
  padding-left:2em;
  padding-right:2em;
  padding-top:0.5em;
  margin-right: 2em;
  margin-bottom:1em;
  text-align: center;
}

.milestone-container {
  border: 2px solid $dark_grey;
  padding:2em;
}
 
.milestone {
  width:100%;
  margin-bottom:8em;
}

.milestone__square-container {
    float:left;
    width:10em;
    padding:1em;
}

.milestone__square {
  width: 5em; 
   height: 5em; 
   background: $light_grey_green;
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   transform: rotate(-45deg);
}

.milestone__information {
  width:auto;
}

//-----------------------Project Form-------------------------

.form-container {
  height:auto;
  width: 100%;
  border: 2px solid $dark-grey-green;
  border-top-left-radius:1em;
  border-top-right-radius:1em;
  overflow:hidden;
  margin: 2em 0;
}

.edit-project__header {
  height:auto;
  width:100%;
  padding:1.5em 2em;
  background-color: $dark-grey-green;
}

.edit-project__content {
  height:auto;
  width:100%;
  padding:1.5em 2em;
}

//------------------------Styles------------------------------

h2.project-heading {
   font-size: 3em;
   color:white; 
   margin:0;
   padding:0;
}

p.project-label {
  color: $dark-grey-green;
  font-size: 1.2em;
  margin-bottom:-1.2em;
  margin-top: 1.5em;
}

p.subheader {
  color: $dark-grey-green;
  font-size: 1.2em;
  margin-top: 1.5em;
}

.textfield {
  border: 2px solid $dark-grey-green;
  padding:0.5em;
  width: 30%;
}

.textarea {
  border: 2px solid $dark-grey-green;
  padding:0.5em;
  height: 10em;
  width: 40%;
}

.textarea--long {
  border: 2px solid $dark-grey-green;
  padding:0.5em;
  margin-bottom:1.2em;
  height: 20em;
  width: 40%;
}
  
.button--submit {
  float:right;
}

.button--newproject{
   
}

.button {
  background-color: $light-grey-green;
  color:white;
}

.button:hover  {
  background-color: $dark-grey-green;
  color:white;
}

select{
  border: 2px solid $dark-grey-green;
}
