@import 'variables';

.user-information {
  height: auto;
  width: 100%;
}

.user-information-contact {
  height: auto;
}

.user-information-contact__img {
  float: left;
}

.user-information-contact__user {
  height:auto;
  padding:1em;
  margin-left:20em;
  font-size: 1.2em;
}

.user-information-contact__edit {
  float: right;
}

.user-information-projects {
  padding-top: 3em;
  clear: both;
}

.user-information-projects__no {
  
}

.user-information-projects-available {
  height: 12em;
  border: 2px solid $light_grey;
  padding: 1em;
  clear: both;
}

.user-information-projects__no {
  
}

.user-information-projects-notavailable__img {
  height: 12em;
  width: 15em;
  float: left;
}

.user-information-projects-available__img {
  width: 15em;
  float: left;
}

.user-information-projects-available__data {
  
}

.user-information-projects-available__detail {
  width: 10em;
  float: right;
}

//Profile-Edit-Page

.edit-user__header {
  height: auto;
  width: 100%;
  padding: 1.5em 2em;
  background-color: $dark-grey-green;  
}

.user-heading {
  font-size: 2em;
  color: white; 
  margin: 0;
  padding: 0;  
}

.user-profile {
  padding: 1.5em 2em;
}

.user-label {
  font-size: 1.2em;
  color: $dark-grey-green;
  text-align: left;
}

.user-profilephoto {
  float: left;
}

.user-profilephoto__current {
  
}

.user-profilephoto__new {
  padding-top: 1.5em;
}

.user-profileinformation {
  margin-right: 25em;
  float: right;
}

.user-profilebutton {
  clear: both;
  text-align:center;
  padding: 0em 2em;
}
//Login Page Styles


/*
    Note: It is best to use a less version of this file ( see http://css2less.cc
    For the media queries use @screen-sm-min instead of 768px.
    For .omb_spanOr use @body-bg instead of white.
*/

@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
  line-height: 300%;
}
  
.omb_login .omb_socialButtons a {
  color: white; // In yourUse @body-bg 
  opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
  opacity:1;      
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
  position: relative;
  font-size: 1.5em;
  color: #aaa;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
  display: block;
  position: absolute;
  left: 50%;
  top: -0.6em;
  margin-left: -1.5em;
  background-color: white;
  width: 3em;
  text-align: center;
}     

.omb_login .omb_loginForm .input-group.i {
  width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}

.input-group{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
  
@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
    margin-top:10px;
  }   
}